
body {
    background-color: rgb(4, 4, 5);
}
h1 {
    color: red;
    padding: 1px;
}


h6 {
    color: rgb(76, 0, 255);
   
}

h5{

    color: rgb(255, 255, 255);
}


.especial {

    margin-left: 0.5in; font-size: 20pt;
    font-style:italic;
    color: rgb(255, 0, 200);
    
  }

  h3{
    color: rgb(255, 0, 179);
    font-family: Courier, monospace;
    padding: 1px;
}
  }
